thead{
    color: #BD4932;
}
tbody{
    color: #FFD34E;
}
a{
    color: #DB9E36;
}
body{
    background: url(https://images6.alphacoders.com/887/887558.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #105B63;
}
